html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container_footer {
    display: flex;
    flex-direction: row;
    background-color: #072763;
    width: 100%;
    max-width: none;
    padding: 20px;
    justify-content: space-between;
    color: white;
}



.socialNetworks {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: end;
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-right: 150px;
}


.information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    padding: 20px;
    margin-left: 125px;
}



.info{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 5px;
    
    
}


.iconInfo {
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.iconSN {
    background-color: #ffff;
    border-radius: 20px;
    padding: 8px;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease-in-out;
    
}


.linkSN1:hover .iconSN:hover {
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
    box-shadow: 2px 1px 2px white;
}

.linkSN2:hover .iconSN:hover {
    background-color: #0e76a8;
    box-shadow: 2px 1px 2px white;
}

.linkSN3:hover .iconSN:hover {
    background-color: #25D366;
    box-shadow: 2px 1px 2px white;
}

.linkSN1:active .linkSN2:active .linkSN3:active .iconSN:active {
    box-shadow: none;
}

/* Media Queries para responsividade */
@media (max-width: 1024px) {
    .socialNetworks {
        margin-right: 120px;
    }
    
    .information {
        margin-left: 90px;
    }
}


@media (max-width: 768px) {
    .container_footer {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .socialNetworks {
        width: 100%;
        justify-content: center;
        margin: 20px 0px 0px;
    }

    .information {
        width: 100%;
        margin: 20px 0px 0px;
        margin-left: 20px;
        align-items: start;
        text-align: center;
    }
}


